dist/*
timelapse
output.webm
utils/ocean-tiles/ocean
utils/osm-tiles/osm
i18n/*.mo
test*.js

logs
*.log
npm-debug.log*
*.tmp

pids
*.pid
*.seed
*.pid.lock
*.kate-swp

node_modules/

.npm
.eslintcache
.env

osm.tar.gz
clean.png
backup
backup/*
ips
pixelplanetmap.zip
