body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border: none;
  user-select: none;
  background: #c4c4c4;
}

html, body {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.viewport {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/**
 * https://github.com/benweet/stackedit/issues/212
 */
kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}

a:link {
  color: #428bca;
}

a:visited {
  color: #327bba;
}

a:hover {
  font-weight: bold;
}

.modallink {
  text-decoration: none;
  color: #428bca;
  cursor: pointer;
}

.modallink:hover {
  font-weight: bold;
  color: #226baa;
}

.inarea {
  border-style: solid;
  border-color: #d5d5d5;
  padding: 4px;
  margin-top: 4px;
  border-width: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-item:hover {
  background-color: #6d6d6d;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  max-width: 18em;
  overflow-x: hidden;
}

h2 {
  font-size: 22px;
  padding-left: 5%;
  margin-bottom: 10px;
  margin-top: 12px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.window {
  position: fixed;
  background-color: rgba(252, 252, 252, 0.95);
  border: solid black;
  border-width: thin;
  overflow: hidden;
  padding: 3px;
  z-index: 3;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}

.win-topbar {
  display: flex;
  height: 24px;
  vertical-align: middle;
}

.win-title {
  border: solid black;
  border-width: thin;
  background-color: #e8e8e8;
  cursor: move;
  flex-grow: 1;
  line-height: 17px;
  height: 17px;
  margin: 2px;
  padding-left: 10px;
  font-size: 15px;
}

.win-title:hover {
  background-color: #e4e4e4;
}

.win-topbtn {
  border: solid black;
  border-width: thin;
  background-color: #f7f7f7;
  cursor: pointer;
  margin: 2px;
  text-align: center;
  height: 17px;
  width: 17px;
  line-height: 17px;
  font-size: 17px;
  font-weight: bold;
}

.win-topbtn:hover {
  background-color: #d7d7d7;
}

.win-topbtn.close:hover {
  background-color: #f29696;
}

.win-resize {
  position: absolute;
  bottom: -4px;
  right: -3px;
  font-size: 22px;
  cursor: se-resize;
}

.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 2px);
}

.win-content {
  position: relative;
  width: calc(100% - 3px);
  height: calc(100% - 28px);
  overflow-y: auto;
}

.contextmenu {
  position: absolute;
  font-size: 12px;
  z-index: 10;
  background-color: rgba(226, 226, 226);
  border: solid black;
  border-width: thin;
  color: #212121;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
}

.contextmenu > div {
  margin: 2px;
  height: 18px;
  padding: 3px 2px 0px 0px;
  background-color: #ebebeb;
  border-top: thin solid #b1b1b2;
}

.contextmenu > div:hover {
  background-color: #c9c9c9;
  cursor: pointer;
}

.channelbtn {
  position: relative;
  background-color: #ebebeb;
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  width: 50px;
  height: 22px;
  white-space: nowrap;
  font-size: 14px;
  overflow-x: hidden;
  color: #212121;
}

.channeldd {
  background-color: rgba(226, 226, 226);
  color: #212121;
  border: solid black;
  border-width: thin;
  width: 90px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
}

.channeldds {
  height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 2px;
  scrollbar-width: thin;
}

/* won't be needed anymore with chrome 90+ */
.channeldds::-webkit-scrollbar {
  width: 6px;
}
.channeldds::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid;
}

.chntop {
  display: flex;
  height: 24px;
  border-bottom: solid thin;
}

.actionbuttons, .coorbox, .onlinebox, .cooldownbox, #palettebox {
  position: fixed;
  background-color: rgba(226, 226, 226, 0.80);
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  height: 36px;
  width: auto;
  padding: 0 16px;
  border: solid black;
  border-width: thin;
}
.coorbox {
  left: 16px;
  cursor: pointer;
  bottom: 16px;
}
.onlinebox {
  left: 16px;
  bottom: 57px;
  white-space: nowrap;
}

#menubutton {
  left: 16px;
  top: 16px;
}

.menu > div {
  z-index: 1;
  background-color: rgb(213, 238, 255);
}

.menu {
  opacity: 0;
  visibility: hidden;
  transition: all .15s cubic-bezier(.46,.03,.52,.96);
}

.menu.show {
  opacity: 1;
  visibility: visible;
}

#helpbutton {
  left: 16px;
  top: 180px;
}
#settingsbutton {
  left: 16px;
  top: 57px;
}
#loginbutton {
  left: 16px;
  top: 98px;
}
#downloadbutton {
  left: 16px;
  top: 139px;
}
#globebutton {
  left: 98px;
  top: 16px;
}
#voxelbutton {
  left: 180px;
  top: 16px;
}
#canvasbutton {
  left: 57px;
  top: 16px;
}
#minecrafttpbutton {
  top: 16px;
  right: 16px;
}
#palselbutton {
  bottom: 16px;
  right: 16px;
}
#chatbutton {
  bottom: 16px;
  right: 57px;
}

#historyselect {
  position: fixed;
  top: 16px;
  left: 0px;
  right: 0px;
  height: 70px;
  width: 140px;
  background-color: rgba(226, 226, 226, 0.80);
  color: black;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  border: solid black;
  border-width: thin;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.hsar {
  padding: 0;
}

.Modal, .Alert {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  padding: 0px 5px 5px 5px;
  bottom: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  border-radius: 4px;
  outline: currentcolor none medium;
  transform: translate(-50%, -50%);
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}

.Modal {
  height: 80%;
  width: 70%;
  max-height: 900px;
  z-index: 5;
}

.Modal-content {
  position: relative;
  width: calc(100% - 3px);
  height: calc(100% - 50px);
  overflow-y: auto;
}

.Alert {
  overflow-y: auto;
  max-height: 100%;
  padding: 15px;
  text-align: center;
  z-index: 7;
}

.modaltext, .modalcotext {
  color: hsla(0, 0%, 0%, 0.6);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  position: relative;
  text-align: inherit;
  float: none;
}

.modaltext {
  margin: 0;
  padding: 0;
}

.modaltitle {
  color: #4f545c;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 0;
  margin-right: 10px;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 0;
}

.modaldesc {
  box-sizing: border-box;
  flex: 1 1 auto;
  color: hsla(0, 0%, 0%, 0.6);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 4px;
}

.modaldivider {
  box-sizing: border-box;
  margin-top: 20px;
  height: 1px;
  width: 100%;
  background-color: hsla(216, 4%, 74%, .3);
}

.modalinfo {
  color: #4f545c;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
}

.modalcvtext {
  color: hsla(0, 0%, 0%, 0.6);
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 75%;
}

.ModalClose, .ModalRestore {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  cursor: pointer;
  background-color: #f6f6f7;
  border-color: #dcddde;
  top: 11px;
  z-index: 5;
}

.ModalClose {
  right: 14px;
}

.ModalRestore {
  right: 52px;
}

.ModalClose:hover, .ModalRestore:hover {
  background-color: #e3e3e4;
}

@media (max-width: 604px) {
  .Modal, .Alert {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 95%;
    width: 90%;
    transform: none;
    max-width: none;
    max-height: none;
    padding: 5%;
  }
}

.OverlayModal, .OverlayAlert {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.OverlayModal {
  z-index: 4;
}

.OverlayAlert {
  z-index: 6;
}

.chatbox div .chatarea  {
  height: 174px;
}
.chatarea {
  padding: 3px 3px 0px 3px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.chatinput {
  height: 22px;
  white-space: nowrap;
}
.chatname {
  color: #4B0000;
  font-size: 13px;
}
.chatmsg {
  color: #030303;
  font-size: 13px;
  user-select: text;
  margin: 0;
}
.chatmsg > span {
  display: inline-block;
}
.msg.info {
  color: #cc0000;
}
.msg.event {
  color: #3955c6;
}
.msg.greentext{
  color: green;
}
.ping {
  background-color: #ffff87;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  color: #1d1c1c;
  border-radius: 6px;
}
.mention, .ping {
  margin-left: 5px;
  margin-right: 5px;
}
.chatlink {
  position: absolute;
  top: 5px;
  right: 20px;
  font-weight: bold;
  color: #4a4a49; 
  transition: font-size 0.2s;
}
.chatlink > span {
  cursor: pointer;
}

.chn {
  position: relative;
  background-color: #ebebeb;
  white-space: nowrap;
  border-bottom: solid thin #b1b1b2;
  padding: 1px;
  font-size: 15px;
  height: 22px;
}

.chn.selected, .chn:hover, .channelbtn.selected, .channelbtn:hover, #sendbtn:hover {
  cursor: pointer;
  background-color: #c9c9c9;
}

.chnunread {
  position: absolute;
  top: -1px;
  right: 1px;
  font-weight: bold;
  font-size: 12px;
  color: red;
}

.chntype {
  position: relative;
  flex: auto;
  text-align: center;
  background-color: #ebebeb;
  border-left: solid thin #b1b1b2;
}
.chntype.selected, .chntype:hover {
  cursor: pointer;
  font-size: 110%;
  background-color: #c9c9c9;
}

.usermessages {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.stattext {
  font-size: 18px;
}
.statvalue {
  font-size: 18px;
  font-weight: bold;
  color: #2d0045;
}

.pressed {
  box-shadow:0 0 3px 2px rgba(0,0,0,.6);
}

.notifybox {
  background-color: rgba(199, 206, 36, 0.8);
  position: fixed;
  top: 57px;
  left: 0px;
  right: 0px;
  min-height: 30px;
  width: 98px;
  color: black;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  border: solid black;
  border-width: thin;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  transition: visibility 0.5s, opacity 0.5s linear;
  visibility: hidden;
  opacity: 0;
}

.notifybox.show, .cooldownbox.show {
  visibility: visible;
  opacity: 1;
}

.notifybox.green, .notifybox.red {
  width: 68px;
}

.notifybox.green {
  background-color: #a9ffb0cc;
}

.notifybox.red {
  background-color: #ffa9a9cc;
}

.cooldownbox {
  top: 16px;
  width: 48px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  transition: visibility 0.3s, opacity 0.3s linear;
  visibility: hidden;
  opacity: 0;
}

.unblocklist {
  display: inline-block;
  margin: 5px 0px 15px 0px;
  width: 95%;
  max-height: 250px;
  overflow-y: auto;
  max-width: 340px;
  border: thin solid;
}

.unblocklist > div {
  padding: 4px;
  font-weight: bold;
}

.unblocklist > div:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: #db0000;
}

.actionbuttons {
  vertical-align: text-bottom;
  cursor: pointer;
  width: 36px;
  padding: 0;
}

.actionbuttons:hover, .coorbox:hover, .menu > div:hover {
  background-color: #d2d2d2cc;
}

#palettebox {
  z-index: 1;
  bottom: 59px;
  padding: 3px; 
  position: fixed; 
  right: 16px; 
  margin-left: auto; 
  margin-right: auto; 
  overflow: hidden;
}

#palettebox, #palettebox span {
  transition: 0.2s;
}

#palettebox .selected,
#palettebox span:hover {
  z-index: 2 !important;
  outline: rgb(234, 234, 234) solid 1px;
  box-shadow: rgba(0, 0, 0, 0.80) 0px 0px 5px 2px;
  -ms-transform: scale(1.10,1.10); /* IE 9 */
  -webkit-transform: scale(1.10,1.10); /* Safari */
  transform: scale(1.10,1.10); /* Standard syntax */
}

#outstreamContainer {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  z-index: 9000;
}

.grecaptcha-badge {
  visibility: hidden;
}

.Modal.show, .Alert.show, .OverlayAlert.show, .OverlayModal.show, .window.show {
    opacity: 1;
}
